html
{
    height: 100%;
    width: 100%;
} 
body{
    height: 100%;
    width: 100%;
} 

.map {
    position: absolute;
    width: 50%;
    height: 90%;
}
.barChart{
    position: absolute;
        top: 10px; left: 500px;
    width: 50%;
    height: 45%;
}
.matrix{
    position: absolute;
        top: 400px; left: 500px;
    width: 50%;
    height: 45%;
}

  .background {
    fill: #eee;
    pointer-events: all;
  }
  
  .map-layer {
    fill: #fff;
    stroke: #aaa;
  }
  
  .effect-layer{
    pointer-events:none;
  }
  
  text{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  
  text.big-text{
    font-size: 30px;
    font-weight: 400;
  }
  
  .effect-layer text, text.dummy-text{
    font-size: 12px;
  }
