html
{
    height: 100%;
    width: 100%;
} 
body{
    height: 100%;
    width: 100%;
} 
header{
    height: 15%;
    width: 80%;
    fill: green;
    stroke: black;
}
button
{
    
}
.map {
    position: absolute;
    width: 50%;
    height: 95%;
}
.barChart{
    position: absolute;
        top: 10px; left: 500px;
    width: 100%;
    height: 100%;
}

  .background {
    fill: #eee;
    pointer-events: all;
  }
  
  .map-layer {
    fill: #fff;
    stroke: #aaa;
  }
  
  .effect-layer{
    pointer-events:none;
  }
  
  text{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  
  text.big-text{
    font-size: 30px;
    font-weight: 400;
  }
  
  .effect-layer text, text.dummy-text{
    font-size: 12px;
  }

  text {
      font-size: 10px;
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
    }
    
    line,
    path {
      fill: none;
      stroke: rgb(255, 255, 255);
      shape-rendering: crispEdges;
    }